<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="biker_environment" sequenceNumber="6">
<locations>
<location path="${equinox-bundles}" type="Profile"/>
<location path="${third-party-bundles}" type="Profile"/>
</locations>
</target>
